project-examples/scripts/latex-document17.rnc


namespace nons = ""
namespace pdf1 = ""
namespace pdf2 = ""
namespace mml = "http://www.w3.org/1998/Math/MathML"
namespace h = "http://www.w3.org/1999/xhtml"

# These Namespaces to be confirmed. "data:,Layout" would be another possibility
namespace Layout = "http://iso.org/pdf/ssn/Layout"
namespace PrintField = "http://iso.org/pdf/ssn/PrintField"
namespace Table = "http://iso.org/pdf/ssn/Table"
namespace List = "http://iso.org/pdf/ssn/List"
namespace Artifact = "http://iso.org/pdf/ssn/Artifact"


namespace latexSE = ""
namespace latexSEbook = ""

namespace latexSEbible = ""

include "latex-mathml.rnc"

pdf1rolemap-Any = attribute rolemaps-to {text}
pdf1rolemap-P = attribute rolemaps-to {"P"}
pdf1rolemap-Span = attribute rolemaps-to {"Span"}
pdf1rolemap-Note = attribute rolemaps-to {"Note"}

start = Document|DocumentFragment|Part|Art|Div|Sect|TOC|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Link|Annot|Form|FENote|Index|L|Table|Figure|Formula|Artifact


## share with pdf1.7 version from here to end

textorHTML &= (Link|Lbl)*

mpadded-length-percentage |= xsd:string {
  pattern = '\s*(([\-+]?[0-9]*([0-9]\.?|\.[0-9])[0-9]*(r?em|ex|in|cm|mm|p[xtc]|Q|v[hw]|vmin|vmax|%))|0)\s*'
}

# Extensions

## MathML Namespace (temp actualtext moved to content element in new code)
mo.attributes &= attribute actualtext {text}?

## Default Article Namespace

H1 |= element latexSE:section       {attribute rolemaps-to {"H1"}, sechead.content}
H2 |= element latexSE:subsection    {attribute rolemaps-to {"H2"}, sechead.content}
H3 |= element latexSE:subsubsection {attribute rolemaps-to {"H3"}, sechead.content}
H4 |= element latexSE:paragraph     {attribute rolemaps-to {"H4"}, sechead.content}
H5 |= element latexSE:subparagraph  {attribute rolemaps-to {"H5"}, sechead.content}


## LaTeX Book structure Namespace

H1 |= element latexSEbook:chapter       {attribute rolemaps-to {"H1"}, sechead.content}
H2 |= element latexSEbook:section       {attribute rolemaps-to {"H2"}, sechead.content}
H3 |= element latexSEbook:subsection    {attribute rolemaps-to {"H3"}, sechead.content}
H4 |= element latexSEbook:subsubsection {attribute rolemaps-to {"H4"}, sechead.content}
H5 |= element latexSEbook:paragraph     {attribute rolemaps-to {"H5"}, sechead.content}
H6 |= element latexSEbook:subparagraph  {attribute rolemaps-to {"H6"}, sechead.content}


# LaTeX Bible Markup Namepace

Sect |= element latexSEbible:Frontmatter {
  showtags-attributes,
  attribute rolemaps-to {"Sect"},
  attribute id {text}?,
  Frontmatter-Title,TOC?,text-unit*}
  
Sect |= element latexSEbible:Testament {
  showtags-attributes,
  attribute rolemaps-to {"Sect"},
  attribute id {text}?,
  Testament-Title,TOC?,text-unit*,Book*}

Testament = element latexSEbible:Testament {
  showtags-attributes,
  attribute rolemaps-to {"Sect"},
  attribute id {text}?,
  Testament-Title,
  TOC?,
  (text-unit|Span)*,
  Book*
 }

Frontmatter-Title = element latexSEbible:Frontmatter-Title {
  showtags-attributes,
  attribute rolemaps-to {"H1"},
  attribute id {text}?,
  attribute title {text},
  Span*
}

Testament-Title = element latexSEbible:Testament-Title {
  showtags-attributes,
  attribute rolemaps-to {"H1"},
  attribute id {text}?,
  attribute title {text},
  Span*
}

Book = element latexSEbible:Book {
  showtags-attributes,
  attribute rolemaps-to {"Sect"},
  attribute id {text}?,
  Book-Title,
  TOC?,
  (text-unit|Span)*,
  BChapter*
 }

Book-Title = element latexSEbible:Book-Title {
  showtags-attributes,
  attribute rolemaps-to {"H2"},
  attribute id {text}?,
  attribute title {text},
  Span*
}

BChapter= element latexSEbible:Chapter {
  showtags-attributes,
  attribute rolemaps-to {"Sect"},
  attribute id {text}?,
  Chapter-Title?,
  TOC?,
  (text-unit|Span)*,
  Bverse*
 }

Chapter-Title = element latexSEbible:Chapter-Title {
  showtags-attributes,
  attribute rolemaps-to {"H3"},
  attribute id {text}?,
  attribute title {text}?,
  (text|Span)*
}

Bverse= element latexSEbible:verse {
  showtags-attributes,
  attribute rolemaps-to {"P"},
  pdf2-attributes,
  (text|text-unit|Span)*
 }



### PDF2 structure Namespace
 


pdf2-attributes =
  structure-properties,
  layout-attributes,
  otherns-attributes,
  showtags-attributes

showtags-attributes =
  attribute af {"yes" | "no"}?,
  attribute rolemapped-from {text}?,
  attribute referenced-as {text}?

# Standard Attribute Owner Namespaces (such as CSS3, HTML-5.00) apart from the ones listed here
# and also vendor-specific namespaced attributes are allowed with any name/value.
otherns-attributes =
  attribute (* - (nons:*|Layout:*|PrintField:*|Table:*|List:*|Artifact:*)) {text}*

# Properties are modelled as attributes in no namespace
structure-properties =
  attribute lang {text}?,         # Lang
  attribute expanded {text}?,     # E
  attribute actualtext {text}?,   # ActualText
  attribute alt {text}?,          # Alt
  attribute title {text}?,        # T
  attribute id {text}?            # ID
  
layout-attributes =
  # Only validate Layout attributes with Owner Layout
  # PDF 2 states Attributes in this category shall be defined in attribute objects whose O
  # (owner) entry has the value Layout or whose owner is any other owner excluding List, Table,
  # PrintField and Artifact.
#
  attribute Layout:Placement {"Block" | "Inline" | "Before" | "Start" | "End"}?,
  attribute Layout:WritingMode {"LrTb" | "RlTb" | "TbRl" | "TbLr" | "LrBt" | "RlBt" | "BtRl" | "BtLr"}?,
  attribute Layout:BackgroundColor {text}?,
  attribute Layout:BorderColor {text}?,
  attribute Layout:BorderStyle {text}?,
  attribute Layout:BorderThickness {text}?,
  attribute Layout:Color {text}?,
  attribute Layout:Padding {text}?,
#
  attribute Layout:SpaceBefore {text}?,
  attribute Layout:SpaceAfter {text}?,
  attribute Layout:StartIndent {text}?,
  attribute Layout:EndIndent {text}?,
#
  attribute Layout:TextIndent {text}?,
  attribute Layout:TextAlign { "Start" | "Center" | "End" | "Justify"}?,
  attribute Layout:BBox {text}?, #  see apryse PDFA example
#
  attribute Layout:LineHeight {text}?,
  attribute Layout:BaselineShift {text}?,
  attribute Layout:TextDecorationType {"" | "Underline" | "Overline" | "LineThrough"}?,
  attribute Layout:TextPosition {"Sup" | "Sub" | "Normal"}?,
  attribute Layout:TextDecorationColor {text}?,
  attribute Layout:TextDecorationThickness {text}?,
#
  attribute Layout:ColumnCount {text}?,
  attribute Layout:ColumnWidths {text}?,
  attribute Layout:ColumnGap {text}?,
#
  attribute Layout:GlyphOrientationVertical {text}?


list-attributes =
  attribute List:ListNumbering {"" | "Unordered" | "Description" | "Disc" | "Circle" | "Square" | "Ordered" | "Decimal" | "UpperRoman" | "LowerRoman" | "UpperAlpha" | "LowerAlpha"}?,
  attribute List:ContinuedList {text}?,
  attribute List:ContinuedFrom {text}?

printfield-attributes =
  attribute PrintField:Role {text}?,
  attribute PrintField:Checked {text}?,
  attribute PrintField:checked {text}?,
  attribute PrintField:Desc {text}?

table-attributes =
  attribute Table:RowSpan {text}?,
  attribute Table:ColSpan {text}?,
  attribute Table:Headers {text}?,
  attribute Table:Summary {text}?

artifact-attributes =
  attribute Artifact:Type {text}?,
  attribute Artifact:BBox {text}?,
  attribute Artifact:SubType {text}?

document.content =
   (Document|DocumentFragment|Part|Art|Div|Sect|TOC|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Link|Annot|Form|FENote|Index|L|Table|Figure|Formula|Artifact)

Hn=H1|H2|H3|H4|H5|H6|H7

### Document Level


Document = element pdf2:Document {
pdf2-attributes,
(document.content)* }

DocumentFragment = element pdf2:DocumentFragment {
pdf1rolemap-Any,
pdf2-attributes,
(document.content)* }

### Grouping

Part = element pdf2:Part {
   pdf2-attributes,
  (document.content|TOCI|Sub|Lbl|Reference|BibEntry|Caption)*
   }

Sect = element pdf2:Sect{
   pdf2-attributes,
   (DocumentFragment|Part|Art|Div|Sect|TOC|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Lbl|Link|Annot|Form|FENote|Index|L|Table|Caption|Figure|Formula|Artifact)*
   }


# text | document.content - Aside
Aside = element pdf2:Aside {
pdf1rolemap-Any,
pdf2-attributes,
(text|
Document|DocumentFragment|Part|Art|Div|Sect|TOC|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Lbl|Link|Reference|Annot|Form|FENote|Index|L|Table|Caption|Figure|Formula|Artifact)*
}



NonStruct = element pdf2:NonStruct{
  pdf2-attributes,
  (text|Document|DocumentFragment|Part|Art|Div|Sect|TOC|TOCI|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|RB|RT|RP|Warichu|WT|WP|FENote|Index|L|LI|LBody|BibEntry|Table|TR|TH|TD|THead|TBody|TFoot|Caption|Figure|Formula|Artifact)*
   }

Div = element pdf2:Div {
pdf2-attributes,
(Document|DocumentFragment|Part|Art|Div|Sect|TOC|TOCI|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|RB|RT|RP|Warichu|WT|WP|FENote|Index|L|LI|LBody|BibEntry|Table|TR|TH|TD|THead|TBody|TFoot|Caption|Figure|Formula|Artifact)*
}

## Block

P = element pdf2:P {
pdf2-attributes,
(text|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|L|BibEntry|Table|Figure|Formula|Artifact)*
}

sechead.content =
  pdf2-attributes,
  (Art?&Sect?&(text|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|BibEntry|Figure|Formula|Artifact)*)

H1 = element pdf2:H1 {sechead.content}
H2 = element pdf2:H2 {sechead.content}
H3 = element pdf2:H3 {sechead.content}
H4 = element pdf2:H4 {sechead.content}
H5 = element pdf2:H5 {sechead.content}
H6 = element pdf2:H6 {sechead.content}
H7 = element pdf2:H7 {
pdf1rolemap-Any,
sechead.content}


H = element pdf2:H {sechead.content}


Title = element pdf2:Title {
 pdf1rolemap-P,
 pdf2-attributes,
 (text|Part|Div|Aside|NonStruct|Private|P|Note|Code|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|L|BibEntry|Table|Caption|Figure|Formula|Artifact)*
 }

FENote = element pdf2:FENote {
 pdf1rolemap-Note,
 pdf2-attributes,
(
 (DocumentFragment|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Sub|Lbl|Link|Reference|Annot|Form|Ruby|Warichu|FENote|L|Table|Caption|Figure|Formula|Artifact)* # Grouping
 |
  (text|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|L|Table|Figure|Formula|Artifact)* # Block
 )
 }

BibEntry = element pdf2:BibEntry {
 pdf2-attributes,
 (text|Part|Div|NonStruct|Private|P|Note|Lbl|Em|Strong|Span|Link|Reference|Annot|FENote|Figure|Artifact)*
 }

### Sub Block

Sub = element pdf2:Sub	 {
  pdf1rolemap-Any,
  pdf2-attributes,
 (text|NonStruct|Private|Note|Code|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|L|BibEntry|Figure|Formula|Artifact)*
 }


### Inline

Lbl = element pdf2:Lbl {
  pdf2-attributes,
  (text|NonStruct|Private|Note|Code|Sub|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|BibEntry|Figure|Formula|Artifact|
math)*
   }


Em = element pdf2:Em {
  pdf1rolemap-Span,
  pdf2-attributes,
 (text|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|BibEntry|Figure|Formula|Artifact)*
}

Strong = element pdf2:Strong {
pdf1rolemap-Span,
pdf2-attributes,
(text|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|BibEntry|Figure|Formula|Artifact)*
}

Span = element pdf2:Span {
pdf2-attributes,
(text|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|BibEntry|Figure|Formula|Artifact)*
}


Link = element pdf2:Link {
pdf2-attributes,
(
(DocumentFragment|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Sub|Lbl|Annot|Form|Ruby|Warichu|FENote|L|BibEntry|Table|Caption|Figure|Formula|Artifact|
math)* # Grouping
|
(text|Art|Div|Sect|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Reference|Annot|Ruby|Warichu|FENote|BibEntry|Table|Figure|Formula|Artifact|
math)* # 
)
}

Annot = element pdf2:Annot {
pdf2-attributes,
(
(DocumentFragment|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Sub|Lbl|Link|Reference|Annot|Form|Ruby|Warichu|FENote|L|BibEntry|Table|Caption|Figure|Formula|Artifact)* # Grouping
|
(text|Art|Div|Sect|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Annot|Ruby|Warichu|FENote|BibEntry|Figure|Formula|Artifact)* # 
)}

Form = element pdf2:Form {
  pdf2-attributes,
  attribute Layout:Width {text}?,
  attribute Layout:Height {text}?,
  printfield-attributes,
(
(Caption? & (Part|Div|NonStruct|Private|Note|Code|Lbl|Reference|FENote|L|BibEntry|Table|Figure|Formula|Artifact))* # Grouping
|
(Caption? & (text|Div|NonStruct|Private|Note|Lbl|FENote|BibEntry|Artifact)*) # Block
)
}

### Ruby

Ruby = element pdf2:Ruby {
  pdf2-attributes,
  attribute Layout:RubyAlign {"Start" | "Center" | "End" | "Justify" | "Distribute"}?,
  attribute Layout:RubyPosition {"Before" | "After" | "Warichu" | "Inline"}?,
(text|NonStruct|Private|RB|RT|RP)*
}

RB = element pdf2:RB {
  pdf2-attributes,
  attribute Layout:RubyAlign {"Start" | "Center" | "End" | "Justify" | "Distribute"}?,
  attribute Layout:RubyPosition {"Before" | "After" | "Warichu" | "Inline"}?,
(text|NonStruct|Private|Sub|Em|Strong|Span|Quote|Link|Reference|Annot|Link|Form|Artifact)*
}

RT = element pdf2:RT {
  pdf2-attributes,
  attribute Layout:RubyAlign {"Start" | "Center" | "End" | "Justify" | "Distribute"}?,
  attribute Layout:RubyPosition {text}?,
(text|NonStruct|Private|Sub|Em|Strong|Span|Quote|Link|Reference|Annot|Link|Form|Artifact)*
}

RP = element pdf2:RP {
  pdf2-attributes,
  attribute Layout:RubyAlign {text}?,
  attribute Layout:RubyPosition {text}?,
(text|NonStruct|Private|Sub|Em|Strong|Span|Quote|Link|Reference|Annot|Link|Form|Artifact)*
}


Warichu = element pdf2:Warichu {
pdf2-attributes,
(text|NonStruct|Private|WT|WP)*
}

WT = element pdf2:WT {
pdf2-attributes,
(text|NonStruct|Private|Sub|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Artifact)*
}

WP = element pdf2:WP {
pdf2-attributes,
(text|NonStruct|Private|Sub|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Artifact)*
}



### Lists

L = element pdf2:L {
  pdf2-attributes,
  list-attributes,
  (Caption? & (NonStruct|Private|L|LI|Artifact)*)
}

LI = element pdf2:LI {
  pdf2-attributes,
  (text|Div|NonStruct|Private|Lbl|LBody|Artifact)*
 }


LBody = element pdf2:LBody {
pdf2-attributes,
(text|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Sub|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Caption|Figure|Formula|Artifact)*
 }


Index = element pdf2:Index {
pdf2-attributes,
(Part|Div|Sect|NonStruct|Private|P|Note|Hn|H|Reference|Annot|FENote|L|Table|Caption|Figure|Formula|Artifact)*
}

### Tables

Table = element pdf2:Table {
  pdf2-attributes,
  attribute Layout:Width {text}?,
  attribute Layout:Height {text}?,
  table-attributes,
((NonStruct|Private|TR|Artifact)* & (THead?,TBody*,TFoot?) & Caption?)
 }

THead = element pdf2:THead {
  pdf2-attributes,
  table-attributes,
 (NonStruct|Private|TR|Artifact)*
 }

TBody = element pdf2:TBody {
  pdf2-attributes,
  table-attributes,
 (NonStruct|Private|TR|Artifact)*
 }

TFoot = element pdf2:TFoot {
pdf2-attributes,
 (NonStruct|Private|TR|Artifact)*
 }

TR = element pdf2:TR {
  pdf2-attributes,
  table-attributes,
 (NonStruct|Private|TH|TD|Artifact)*
 }

TH = element pdf2:TH {
  pdf2-attributes,
  attribute Layout:Width {text}?,
  attribute Layout:Height {text}?,
  attribute Layout:BlockAlign {"Before" | "Middle" | "After" | "Justify"}?,
  attribute Layout:InlineAlign {"Start" | "Center" | "End"}?,
  attribute Layout:TBorderStyle {text}?,
  attribute Layout:TPadding {text}?,
#
  table-attributes,
  attribute Table:Scope {"Column" | "Row"}?,
  attribute Table:Short {text}?,

 (H? & (text|Art|Div|Sect|NonStruct|Private|P|Note|Code|Hn|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Figure|Formula|Artifact)*)
 }

TD = element pdf2:TD {
  pdf2-attributes,
  attribute Layout:Width {text}?,
  attribute Layout:Height {text}?,
  attribute Layout:BlockAlign {"Before" | "Middle" | "After" | "Justify"}?,
  attribute Layout:InlineAlign {"Start" | "Center" | "End"}?,
  attribute Layout:TBorderStyle {text}?,
  attribute Layout:TPadding {text}?,
  table-attributes,
 (H? & (text|Art|Div|Sect|NonStruct|Private|P|Note|Code|Hn|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Figure|Formula|Artifact)*)
 }

# Captions and Figures

Caption = element pdf2:Caption {
 pdf2-attributes,
 (
 (H? & (DocumentFragment|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|Sub|Lbl|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Figure|Formula|Artifact)*) # Grouping
|
 (H? & (text|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Figure|Formula|Artifact)*) #
)
}

Figure = element pdf2:Figure {
  pdf2-attributes,
  attribute Layout:Width {text}?,
  attribute Layout:Height {text}?,
(
(H? & Caption? & (Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|Sub|Lbl|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Figure|Formula|Artifact)*) # Grouping
|
(H? & Caption? & (text|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Figure|Formula|Artifact)*) #
)
}

### Formula

Formula = element pdf2:Formula {
  pdf2-attributes,
  attribute Layout:Width {text}?,
  attribute Layout:Height {text}?,
(H? & Caption? & (text|Part|Div|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Figure|Formula|Artifact|
math)*)
}

### Artifact

Artifact = element pdf2:Artifact {
  pdf1rolemap-Any,
  pdf2-attributes,
  artifact-attributes,
(H? & Caption & (text|Document|DocumentFragment|Part|Art|Div|Sect|TOC|TOCI|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|Title|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|RB|RT|RP|Warichu|WT|WP|FENote|Index|L|LI|LBody|BibEntry|Table|TR|TH|TD|THead|TBody|TFoot|Figure|Formula|Artifact)*)
}



### PDF1

Art = element pdf1:Art {
  pdf2-attributes,
(DocumentFragment|Part|Div|Sect|TOC|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Lbl|Link|Annot|Form|FENote|Index|L|Table|Caption|Figure|Formula|Artifact)*
}

Private = element pdf1:Private {
pdf2-attributes,
(text|Document|DocumentFragment|Part|Art|Div|Sect|TOC|TOCI|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|RB|RT|RP|Warichu|WT|WP|FENote|Index|L|LI|LBody|BibEntry|Table|TR|TH|TD|THead|TBody|TFoot|Caption|Figure|Formula|Artifact)*
}

TOC = element pdf1:TOC {
pdf2-attributes,
   (Part|TOC|TOCI|NonStruct|Private|Caption|Artifact)*
   }

TOCI = element pdf1:TOCI {
pdf2-attributes,
   (Div|TOC|NonStruct|Private|P|Lbl|Reference|Artifact)*
   }

Note = element pdf1:Note {
 pdf2-attributes,
 (
 (DocumentFragment|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Sub|Lbl|Em|Strong|Link|Annot|Form|Ruby|Warichu|FENote|Index|L|Table|Caption|Figure|Formula|Artifact)* # Grouping
 |
 (text|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Figure|Formula|Artifact)* # Block
 )
 }

Reference = element pdf1:Reference {
pdf2-attributes,
(text|NonStruct|Private|Note|Lbl|Em|Strong|Span|Link|Annot|FENote|BibEntry|Figure|Artifact)*
   }

Code = element pdf1:Code {
pdf2-attributes,
 (
 (DocumentFragment|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Sub|Lbl|Em|Strong|Link|Annot|Form|Ruby|Warichu|FENote|Index|L|Table|Caption|Figure|Formula|Artifact)* # Grouping
 |
 (text|Part|Art|Div|Sect|Aside|BlockQuote|NonStruct|Private|P|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|Index|L|BibEntry|Table|Figure|Formula|Artifact)* # Block
 )
}

# Aside + Title
BlockQuote = element pdf1:BlockQuote {
pdf2-attributes,
 (text|Document|DocumentFragment|Part|Art|Div|Sect|TOC|BlockQuote|NonStruct|Private|P|Note|Code|Hn|H|Title|Lbl|Link|Reference|Annot|Form|FENote|Index|L|Table|Caption|Figure|Formula|Artifact)*
  }

Quote = element pdf1:Quote {
pdf2-attributes,
(text|NonStruct|Private|Note|Code|Sub|Lbl|Em|Strong|Span|Quote|Link|Reference|Annot|Form|Ruby|Warichu|FENote|BibEntry|Figure|Formula|Artifact)*
  }


# LaTeX NS

document.content &= (figures?,tables?)

figures = element latexSE:figures {
  attribute rolemaps-to {"Sect"},
  attribute id {text}?,
  float*
 }

tables = element latexSE:tables {
  attribute rolemaps-to {"Sect"},
  attribute id {text}?,
  float*
 }

float = element latexSE:float {
  attribute rolemaps-to {"Aside"|"Note"},
  attribute id {text}?,
  (Caption|Part|Div|Figure|\text)*
 }



theorem-like = element latexSE:theorem-like {
  attribute rolemaps-to {"Sect"},
  attribute id {text}?,
  Caption?,
  Lbl?,
  (Part)*
}
Sect |= theorem-like


text-unit = element latexSE:text-unit {
  attribute rolemaps-to {"Part"},
  pdf2-attributes,
   (title|Title)?,(H4|H5|Div|Sect|P|Aside|Figure|Table|Formula|quote|quotation|\text|itemize|description|enumerate|verbatim|\list|Part)*}
Part |= text-unit

verbatim = element latexSE:verbatim {
  attribute rolemaps-to {"P"},
  pdf2-attributes,
  codeline*
}
P |= verbatim

codeline = element latexSE:codeline {
  attribute rolemaps-to {"Sub"|"Span"},
  pdf2-attributes,
  Code*
}




\list = element latexSE:list {
 attribute rolemaps-to {"L"},
  pdf2-attributes,
  LI*
}
L |= \list

itemize = element latexSE:itemize {
  attribute rolemaps-to {"L"},
  pdf2-attributes,
  LI*
}
L |= itemize

enumerate = element latexSE:enumerate {
  attribute rolemaps-to {"L"},
  pdf2-attributes,
  LI*
}
L |= enumerate

quote = element latexSE:quote {
 attribute rolemaps-to {"BlockQuote"},
 pdf2-attributes,
 (Part)*
}

quotation = element latexSE:quotation {
 attribute rolemaps-to {"BlockQuote"},
 pdf2-attributes,
 (Part)*
}

description= element latexSE:description {
 attribute rolemaps-to {"L"},
 pdf2-attributes,
 LI*
}


title = element latexSE:title {
 attribute rolemaps-to {"Title"},
 pdf2-attributes,
 (Span|\text)*
 }


\text = element latexSE:text {
 attribute rolemaps-to {"P"},
 pdf2-attributes,
 (text|Figure|Span|Link|Lbl|Reference|Em|FENote|Formula)*
}
P |= \text


Lbl |= element latexSE:footnotemark {
 attribute rolemaps-to {"Lbl"},
 pdf2-attributes,
(text|Link)*
}

FENote |= element latexSE:footnote {
  attribute rolemaps-to {"FENote"|"Note"},
  pdf2-attributes,
  footnotelabel,(Part)*
}

footnotelabel = element latexSE:footnotelabel {
 attribute rolemaps-to {"Lbl"},
 pdf2-attributes,
 (text|NonStruct)*
}
